<div class="d-flex justify-content-between mt-4 navigation">
    <div>                              
        {%if previous_chapter_url is not none %}<a class="btn btn-outline-primary" href="{{previous_chapter_url}}">←←</a>{%endif%}
        {%if previous_section_url is not none %}<a class="btn btn-outline-primary" href="{{previous_section_url}}">←</a>{%endif%}
    </div>

    <div>
        {%if next_section_url is not none %}<a class="btn btn-outline-primary" href="{{next_section_url}}">→</a>{%endif%}
        {%if next_chapter_url is not none %}<a class="btn btn-outline-primary" href="{{next_chapter_url}}">→→</a>{%endif%}
    </div>
</div>
