<div class="question layout-{{ layout }} for-solution" id="{{ number }}">
    <div class="question-text m-0">{{ ui('solution_question_label', 'Frage:') }} {{ question }}</div>
    {% if picture_question %}
      <div class="question-picture"><img src="pictures/{{ picture_question }}.svg" alt="{{ alt_text_question }}"></div>
    {% endif %}
    <div class="answers">
        {% for i in range(1) %}
            <div>
                <b>{{ ui('solution_answer_label', 'Lösung:') if i == 0 else ui('solution_wrong_label', 'Falsch:') }}</b>
                {% if answers[i] %}
                    {{ answers[i] }}
                {% endif %}
                {% if answer_pictures[i] %}
                    <div class="question-picture"><img src="pictures/{{ answer_pictures[i] }}.svg" alt="{{ alt_text_answers[i] }}"></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
  
  
